@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);
/*colour: 257baa */

#main{
    background-image: url("/img/bg.png");
    height: 100%;
}
#main .panel{
    background: none;
    color: white;
    padding-top: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    min-height: 380px;
}

.fullWidth{
    margin-left: 0px !important;
    margin-right: 0px !important;
    max-width: 100% !important;
}
h1{
    color: white !important;
    font-weight: 100;
}
h5{
    /*color: white !important;*/
    font-weight: 300;
}
p{
    /*color: white !important;*/
    font-weight: 100;
}
li{
    /*color: white !important;*/
    font-weight: 100;
}
#frontpage{
    margin-top: 15%;
    height: 200px !important;
}
.logo{
    background-color: white !important;
}
a{
    color:yellow;
    font-family: "Merriweather",serif !important;

}
/*foundation overrides*/


p{
    font-weight: 300 !important;
    font-family: "Merriweather",serif !important;
}
li{
    font-weight: 300 !important;
    font-family: "Merriweather",serif !important;
}
div{
    font-weight: 300 !important;
    font-family: "Merriweather",serif !important;
}
h1{
    /*font-weight: 200 !important;*/
    font-family: "Merriweather",serif !important;
}
h3{
    /*font-weight: 200 !important;*/
    font-family: "Merriweather",serif !important;
}
h5{
    /*font-weight: 200 !important;*/
    font-family: "Merriweather",serif !important;
}

.top-bar{
    background: #ffffff;
}
.top-bar .expanded{
    background: #ffffff;
}
.top-bar .toggle-topbar.menu-icon a span::after{
    box-shadow:0 0 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
}
.top-bar.expanded .toggle-topbar a{
    color: #000000 !important;
}

.title-area{
    background: transparent !important;
}
.topbarstyle{
    background: #ffffff;
    min-height: 55px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    z-index: 8;
    position: fixed;
}
.f-topbar-fixed{
    padding-top:0px !important;
}
/*logo and site title*/
.sitename{
    position: absolute;
    background-color: white;
    z-index: 10;
    background-image: url("logo.png");
    background-size: cover;
    height: 100px;
    width:250px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -webkit-transition: all 0.1s ease; /* Safari */
    transition: all 0.1s ease;
}
.sitename:hover{
    margin-top:-3px;
}
.leftblocker{
    position: absolute;
    z-index: 11;
    width: 10px;
    height:55px;
    background: white;
    display: block;
    margin-left:-10px;
}
.rightblocker{
    position: absolute;
    z-index: 11;
    width: 10px;
    height:55px;
    background: white;
    display: block;
    left:250px;
}


.top-bar-section ul li{
    background: white;
}
.top-bar-section ul li a{
    background: transparent !important;
    color:black !important;
    /*border:5px solid white;*/
    border-top:10px solid #f2f2f2 !important;
    -webkit-transition: all 0.2s ease; /* Safari */
    transition: all 0.2s ease;
}
.top-bar-section ul .active a{
    border-top:10px solid #008CBA !important;
}
.top-bar-section ul li a:hover{
    /*border-bottom:5px solid #777;*/
    background-color:#f2f2f2 !important;
}
@media only screen
and (max-width: 480px) {
    .name h1 a {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 481px)
{
    .name h1 a {
        font-size: 1.8em;
    }
}


/*home*/
.heropanel{
    position:absolute;
    margin: 0;
    padding: 30px;
    background-color:rgba(0,0,0,0.75) !important;
    /*border:1px solid #d8d8d8 !important;*/
    font-size:62.5%;
    top:255px;
    left:0;
    width:100%;
    /*width:1000px;*/
    /*-webkit-transform: translate3d(-50%,-50%,0);*/
    /*transform: translate3d(-50%,-50%,0);*/
}
.heropaneltextonly{
    position:absolute;
    margin: 0;
    padding: 30px;
    /*background-color:rgba(0,0,0,0.55) !important;*/
    /*border:1px solid #d8d8d8 !important;*/
    font-size:62.5%;
    top:300px;
    /*left:0;*/
    width:1000px;
    /*width:1000px;*/
    /*-webkit-transform: translate3d(-50%,-50%,0);*/
    /*transform: translate3d(-50%,-50%,0);*/
}
.contactpanel{
    position: absolute;
    margin: 0;
    padding: 30px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.heropaneltextonly p{
    font-size: 1.2em;
    color:white !important;
    line-height: 1.5;
}
.heropaneltextonly h1{
    font-size:4em;
    /*color:#373737 !important;*/
}
.heropaneltextonly .button{
    background:none;
    /*color:#373737 !important;*/
    border: 1px solid white;
}
.heropaneltextonly .button:hover{
    background:#257baa;
    /*color:#373737 !important;*/
    border: 1px solid white;
}
.herohighlight{
    font-size:1.4rem;
    color:#0FAAFF;
    font-weight: 700;
}
.pic1{
    background-size: cover;
    display: block;
    /*left: 0;*/
    position: relative;
    /*right: 0;*/
    z-index: 1;
    /*background-image: url('http://fr-ee.org/wp-content/uploads/2014/11/energy_museum1.jpg');*/
    background-position: center ;
}
.hard{
    font-weight: 500;
}

/*resume*/
.text-overlayer{
    background-color:transparent !important;
    z-index: 2;
    position: absolute;
    left:50%;
}
.subheading-text{
    position:relative;
    left:-50%;
    margin-top:-25px;
    font-weight: 300;
    color:black !important;
    /*text-shadow: 0px 0px 5px rgba(20, 20, 20, 1);*/
    font-size: 2em;
    min-width: 350px;
}
.background-image {
    background-size: cover;
    display: block;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100px;
    /*left: 0;*/
    position: relative;
    /*right: 0;*/
    z-index: 1;
    overflow: hidden;
}
.background-image.img-skills{
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ),url('resumebg/skills.png');
}
.background-image.img-work{
    background-image: url('resumebg/work.png');
}
.background-image.img-school{
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url('resumebg/school.png');
}
.background-image.img-other{
    background-image: url('resumebg/other.png');
}
.background-image.img-interests{
    background-image: url('resumebg/interests.png');
}
.panel{
    background:transparent;
    border:none;
}

/*contact*/
.contacttext{
    font-size:1.5em;
}
#frontpage li{
    padding:10px;
}
#frontpage p{
    padding:10px;
}
.page2{
    margin-top:200px;
    margin-bottom:200px;
}
.page2 p{
    line-height: 1.5;
    font-size: 1rem;
}
.page2 h1{
    line-height: 1.5;
    font-size: 2rem;
    color:#000 !important;
}
.teammember{
    padding:5px;
    border: 1px solid #257baa;
}
.teammember p{
    font-size:1rem;
    text-align: left;
    line-height: 1.5;
}
.teammember .teampic{
    height: 200px;
    background-size: cover;
    background-position: center;
    width: 200px;
    top:-50px;
    left:50px;
    border: 5px solid #f2f2f2;
}
.teammembertop{
    background-color:#257baa;
    padding-top:50px;
    height: 100px;
}
.teamtext{
    top:-33px;
}
.teamtext h1{
    /*padding-bottom: 10px;*/
    padding-left: 10px;
}
.teammember .neb{
    background-image: url("neb1.JPG");
}
.teammember .cri{
    background-image: url("filler.png");
}
.teammember .daj{
    background-image: url("filler.png");
}
.homebuttons{
    padding-top:10px;
}
.button{
    background-color: #257baa;
}
.banner{
    background: url("https://humanrights.ca/sites/default/files/images/blog/blog90_Stuart.jpg");
    background-size: cover;
    height: 150px;
    margin-bottom: 25px;
    background-position-y: -373px;
}
.jobtitle{
    font-size:0.5REM;
    font-weight: 800;
    margin-bottom:0;
    margin-right:10px;
}
.moreprojectsbutton{
    background-color:#000;
    height: 100px;
}
